<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Minha Aplicação</title>
</head>
<body>
    <header>
        <h1>Minha Aplicação</h1>
        <nav>
            <ul>
                <li><a th:href="@{/principal}">Principal</a></li>
                <li><a th:href="@{/produtos}">Produtos</a></li>
            </ul>
        </nav>
    </header>
    
    <main th:fragment="layout">
        <!-- Conteúdo principal do layout -->
        <div th:insert="~{::content}"></div>
    </main>
    
    <footer>
        <p>&copy; The Code Brasil 2024 Minha Aplicação</p>
    </footer>
</body>
</html>
