<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procurar Produto</title>
</head>
<body>
    <h1>Procurar Produto</h1>
    <form action="/produtos/procurar" method="get">
        <label for="idProcurar">ID do Produto:</label>
        <input type="number" id="idProcurar" name="id"><br><br>
        <button type="submit">Procurar</button>
    </form>
    <h2>Produto Encontrado:</h2>
    <p>ID: ${produto.id}</p>
    <p>Nome: ${produto.nome}</p>
    <p>Preço: ${produto.preco}</p>
</body>
</html>
